---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.vue"
import dayjs from 'dayjs'

const now = dayjs()
---

<Layout title="Welcome to Post Page.">
	<time>{now}</time>
	<main>
		<PostCard client:visible />
	</main>
</Layout>