---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.vue"
---

<Layout title="Welcome to Post Page.">
	<main>
		<PostCard client:visible />
	</main>
</Layout>