<!DOCTYPE html><html lang="en" class="astro-OLJ52OFC"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Links</title>
<link rel="stylesheet" href="/assets/7181965e.5e24488a.css" th:href="@{/assets/7181965e.5e24488a.css}">
<link rel="stylesheet" href="/assets/1a866341.8e0feb74.css" th:href="@{/assets/1a866341.8e0feb74.css}"></head>

<body class="astro-OLJ52OFC">
  <nav class="flex gap-3 astro-OLJ52OFC">
    <a href="/" th:href="@{/}" class="astro-OLJ52OFC">Home</a>
    <a href="/post" th:href="@{/post}" class="astro-OLJ52OFC">Post</a>
    <a href="/links" th:href="@{/links}" class="astro-OLJ52OFC">Links</a>
  </nav>
  <main class="astro-SLXJX4NQ">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 astro-SLXJX4NQ">

      <a href="https://ryanc.cc/" th:href="#{data.url}" target="_blank" class="astro-SLXJX4NQ">
        <div class="relative rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:shadow flex items-center space-x-3 hover:border-gray-400 astro-SLXJX4NQ">
          <div class="flex-shrink-0 astro-SLXJX4NQ">
            <img class="h-12 w-12 rounded-full astro-SLXJX4NQ" th:src="#{data.logo}" th:alt="#{data.name}" src="https://ryanc.cc/avatar" alt="Ryan Wang's Blog">
          </div>
          <div class="flex-1 min-w-0 astro-SLXJX4NQ">
            <div class="astro-SLXJX4NQ">
              <p class="text-sm font-medium text-gray-900 truncate astro-SLXJX4NQ" th:text="#{data.name}">Ryan Wang's Blog</p>
              <p class="text-sm text-gray-500 truncate astro-SLXJX4NQ" th:text="#{data.description}">Hello Halo</p>
            </div>
          </div>
        </div>
      </a><a href="https://www.guqing.xyz/" th:href="#{data.url}" target="_blank" class="astro-SLXJX4NQ">
        <div class="relative rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:shadow flex items-center space-x-3 hover:border-gray-400 astro-SLXJX4NQ">
          <div class="flex-shrink-0 astro-SLXJX4NQ">
            <img class="h-12 w-12 rounded-full astro-SLXJX4NQ" th:src="#{data.logo}" th:alt="#{data.name}" src="https://www.guqing.xyz/avatar" alt="guqing's blog">
          </div>
          <div class="flex-1 min-w-0 astro-SLXJX4NQ">
            <div class="astro-SLXJX4NQ">
              <p class="text-sm font-medium text-gray-900 truncate astro-SLXJX4NQ" th:text="#{data.name}">guqing's blog</p>
              <p class="text-sm text-gray-500 truncate astro-SLXJX4NQ" th:text="#{data.description}">毕生所求无它，爱与自由而已</p>
            </div>
          </div>
        </div>
      </a><a href="https://johnniang.me" th:href="#{data.url}" target="_blank" class="astro-SLXJX4NQ">
        <div class="relative rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:shadow flex items-center space-x-3 hover:border-gray-400 astro-SLXJX4NQ">
          <div class="flex-shrink-0 astro-SLXJX4NQ">
            <img class="h-12 w-12 rounded-full astro-SLXJX4NQ" th:src="#{data.logo}" th:alt="#{data.name}" src="https://johnniang.me/avatar" alt="JohnNiang's Blog">
          </div>
          <div class="flex-1 min-w-0 astro-SLXJX4NQ">
            <div class="astro-SLXJX4NQ">
              <p class="text-sm font-medium text-gray-900 truncate astro-SLXJX4NQ" th:text="#{data.name}">JohnNiang's Blog</p>
              <p class="text-sm text-gray-500 truncate astro-SLXJX4NQ" th:text="#{data.description}">Core contributor of Halo organization.</p>
            </div>
          </div>
        </div>
      </a><a href="https://simplestark.com" th:href="#{data.url}" target="_blank" class="astro-SLXJX4NQ">
        <div class="relative rounded border border-gray-300 bg-white px-5 py-4 shadow-sm hover:shadow flex items-center space-x-3 hover:border-gray-400 astro-SLXJX4NQ">
          <div class="flex-shrink-0 astro-SLXJX4NQ">
            <img class="h-12 w-12 rounded-full astro-SLXJX4NQ" th:src="#{data.logo}" th:alt="#{data.name}" src="https://simplestark.com/avatar" alt="烟霞志">
          </div>
          <div class="flex-1 min-w-0 astro-SLXJX4NQ">
            <div class="astro-SLXJX4NQ">
              <p class="text-sm font-medium text-gray-900 truncate astro-SLXJX4NQ" th:text="#{data.name}">烟霞志</p>
              <p class="text-sm text-gray-500 truncate astro-SLXJX4NQ" th:text="#{data.description}">空有烟霞之志，叹无水云之身。</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </main>



</body></html>